<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayleigh's World</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css">
</head>
<body> 
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <b><i><a class="navbar-brand" >Kaylay</a></b></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Education.html">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./Achievements.html">Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Experience.html">Experience</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-align:right;">
              Socials
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item active" href="./Contact.html">Contact</a></li>
            </ul>
      </ul>
      </div>
    </div>
  </nav>

  <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">ACHIEVEMENTS</h1>
      </div>
    </div>
  </div>
  <!---End of title-->
  <hr>

  <!---My Car Start--->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>Honda Civic Hatchback</strong></h3>
        <img src="../Public/Photos/IMG-3312.jpg" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>My first car</h5>
      <p>Bought March 17, 2022</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="../Public/Photos/Black car.gif" alt="car" width="50%">
    </div>  
  </div>
  <!----My Car End-->

  <!----Start of Tobacco 21-->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>TOB21</strong></h3>
        <img src="../Public/Photos/IMG-4460.jpg" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>Tobacco 21</h5>
      <p>Spoke in front of City Council in 2021 to raise the tobacco age from 18 to 21.</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="../Public/Photos/smoke.gif" alt="smoke" width="50%">
    </div> 
  </div>
  <!-----End of Tobacco 21-->

  <!---Start of COSA-->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>COSA</strong></h3>
        <img src="../Public/Photos/IMG-4466.JPG" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>Social Host Ordinance </h5>
      <p>Spoke in front of City Council in 2017 to pass an Ordinance that holds adults accountable
        for providing alcoholic drinks to minors or allowing underage drinking to happen at a 
        social gathering. It passed in 2018.</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="../Public/Photos/drinking.gif" alt="car" width="50%">
    </div> 
  </div>
  <!---End of COSA-->
    

    <br>
    <br>
    <br>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>