<%- include('layouts/header.ejs')%>
<br>

  <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">ACHIEVEMENTS</h1>
      </div>
    </div>
  </div>
  <!---End of title-->
  <hr>

  <!---My Car Start--->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>Honda Civic Hatchback</strong></h3>
        <img src="Photos/IMG-3312.jpg" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>My first car</h5>
      <p>Bought March 17, 2022</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="Photos/Black car.gif" alt="car" width="50%">
    </div>  
  </div>
  <!----My Car End-->

  <!----Start of Tobacco 21-->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>TOB21</strong></h3>
        <img src="Photos/IMG-4460.jpg" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>Tobacco 21</h5>
      <p>Spoke in front of City Council in 2021 to raise the tobacco age from 18 to 21.</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="Photos/smoke.gif" alt="smoke" width="50%">
    </div> 
  </div>
  <!-----End of Tobacco 21-->

  <!---Start of COSA-->
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        <h3><strong>COSA</strong></h3>
        <img src="Photos/IMG-4466.JPG" alt="car" width="80%">
      </div>
    <div class="col-4 text-center my-auto">
      <h5>Social Host Ordinance </h5>
      <p>Spoke in front of City Council in 2017 to pass an Ordinance that holds adults accountable
        for providing alcoholic drinks to minors or allowing underage drinking to happen at a 
        social gathering. It passed in 2018.</p>
    </div>
    <div class="col-4 text-center my-auto">
      <img src="Photos/drinking.gif" alt="car" width="50%">
    </div> 
  </div>
  <!---End of COSA-->
    
  <%- include('layouts/footer.ejs')%>