<%- include('layouts/header.ejs')%>

<br>
      <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">EDUCATION</h1>
      </div>
    </div>
  </div>
  <!---End of title-->

  <!--Start of TAMUSA-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="Photos/tamu.jpg" class="card-img-top" alt="TAMUSA">
        <div class="card-body text-center">
          <h5 class="card-title">TAMUSA</h5>
          <h4 class="card-text">Bachelor of Science in Computer Science.</h4>
          <p class="card-text">Transferred in Spring of 2021.</p>
        </div>
      </div>
  <!--End of TAMUSA-->

  <!--Start of NVC-->
        <div class="card" style="width: 18rem;">
          <img src="Photos/vista.jpg" class="card-img-top" alt=""NVC">
          <div class="card-body">
            <h5 class="card-title text-center">NVC</h5>
            <h4 class="card-text">Associate in Arts, Business Administration, with Honors.</h4>
            <p class="card-text">Graduated in Fall of 2020.</p>
          </div>
        </div>
        <!--End of NVS-->

        <!--Start of High School-->
        <div class="card" style="width: 18rem;">
          <img src="Photos/southwest hs.jpg" class="card-img-top" alt="SWHS">
          <div class="card-body">
            <h5 class="card-title text-center">Southwest Highschool</h5>
            <h4 class="card-text">High School Diploma.</h4>
            <p class="card-text">Graduated in 2018.</p>
          </div>
        </div>
      </div>
    </div>
  <!--End of High School-->
  
  <%- include('layouts/footer.ejs')%>