<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayleigh's World</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css">
</head>
<body>
  <!--Start of Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <b><i><a class="navbar-brand" >Kaylay</a></b></i>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Achievements.html">Achievements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Experience.html">Experience</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-align:right;">
                  Socials
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item active" href="./Contact.html">Contact</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <!--End of Navbar-->

      <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">EDUCATION</h1>
      </div>
    </div>
  </div>
  <!---End of title-->

  <!--Start of TAMUSA-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="../Public/Photos/tamu.jpg" class="card-img-top" alt="TAMUSA">
        <div class="card-body text-center">
          <h5 class="card-title">TAMUSA</h5>
          <h4 class="card-text">Bachelor of Science in Computer Science.</h4>
          <p class="card-text">Transferred in Spring of 2021.</p>
        </div>
      </div>
  <!--End of TAMUSA-->

  <!--Start of NVC-->
        <div class="card" style="width: 18rem;">
          <img src="../Public/Photos/vista.jpg" class="card-img-top" alt=""NVC">
          <div class="card-body">
            <h5 class="card-title text-center">NVC</h5>
            <h4 class="card-text">Associate in Arts, Business Administration, with Honors.</h4>
            <p class="card-text">Graduated in Fall of 2020.</p>
          </div>
        </div>
        <!--End of NVS-->

        <!--Start of High School-->
        <div class="card" style="width: 18rem;">
          <img src="../Public/Photos/southwest hs.jpg" class="card-img-top" alt="SWHS">
          <div class="card-body">
            <h5 class="card-title text-center">Southwest Highschool</h5>
            <h4 class="card-text">High School Diploma.</h4>
            <p class="card-text">Graduated in 2018.</p>
          </div>
        </div>
      </div>
    </div>
  <!--End of High School-->
  
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>