<%- include('layouts/header.ejs')%>

<br>
      <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">EXPERIENCE</h1>
      </div>
    </div>
  </div>
  <!---End of title-->

  <!---Start of the Experience tab-->
       <div class="container text-center expborder">
      <div class="row align-items-start">
        <div class="col">
         <h3>Job(s)</h3> 
         <h4>Chick-Fil-A Team Member: July 2021-present</h4>
         <ul class="list-group">
          <li class="list-group-item">IPOS:Take orders in the drive-thru.</li>
          <li class="list-group-item">Expo: Take orders out to the cars in drive-thru.</li>
          <li class="list-group-item">Mobile Runner: Take orders out to the cars in curbside.</li>
          <li class="list-group-item">Drinks: Make curbside/delivery drinks for mobiles, make the drinks
            for drive-thru.</li>
          <li class="list-group-item">Front Counter: Take orders in the inside and make their drinks.</li>
          <li class="list-group-item">Lobby: Clean the lobby, wipe down the tables, chairs and sweep.</li>
          <li class="list-group-item">Window/Saucing: Making sure the orders correct and adding in the
            sauces the guest wants before passing the order out to expo/mobile runners.</li>
          <li class="list-group-item">Bagging: Putting the food in the bag(s).</li>
          <li class="list-group-item">Else: Sometimes I cover breaks/make containers of lemonade.</li>
          <br>
          <h4>Dance Instructor for Little Warrior's Camp: June 2018</h4>
          <ul class="list-group">
            <li class="list-group-item">Prepared the kids for a dance performance to their families
               by the end of the week.</li>
            <li class="list-group-item">Cleaned tables.</li>
            <li class="list-group-item">Swept.</li>
            <li class="list-group-item">Suggested games.</li>
            <li class="list-group-item">Helped the other team leaders in their classrooms.</li>
            <li class="list-group-item">Prepared and served food.</li>
        <br>
        </ul>
        </div>
        <div class="col">
          <h3>Volunteer</h3>
          <h4>San Antonio Council on Alcohol and Drug Awareness: 2015-Present</h4> 
          <ul class="list-group">
            <li class="list-group-item">Created community surveys in Survey Monkey.</li> 
            <li class="list-group-item">Entered student data into official records.</li>
            <li class="list-group-item">Created and presented PowerPoint presentations on substance use for adult audiences.</li>
            <br>
            <h4>Helping Youth through Prevention Education: 2015-2018</h4>
            <ul class="list-group">
              <li class="list-group-item">Danced at local schools and out in the community.</li>
              <li class="list-group-item">Conducted skits and quiz games.</li>
              <li class="list-group-item">Suggested games.</li>
              <li class="list-group-item">Gave out information on how drugs and alcohol affect your body.</li>
          <br>
        </div>
        <div class="col">
          <h3>Organizations Affiliated</h3> 
          <h4>Circles of San Antonio Community Coalition: 2015-Present</h4>
          <ul class="list-group">
            <li class="list-group-item">Focus is on youth underage drinking and substance misuse.</li>
            <li class="list-group-item">Participated in community events such as DEA Prescription Drug Take Back.</li>
            <li class="list-group-item">part of video for Social Host Ordinance passed in the city of San Antonio. </li>
            <li class="list-group-item">Spoke before City Council to help pass the Social Host Ordinance and the Tobacco 21 Ordinance.</li>
            <br>
            <h4>Disabled American Veterans Auxiliary: 2014-Present</h4>
            <ul class="list-group">
              <li class="list-group-item">Support and assist Veterans with disabilities.</li>
              <li class="list-group-item">Participated in events such as the Forget Me Not fund raiser 
                and Golden Corral fund raiser.</li>
              <li class="list-group-item">Conducted activities such as Bingo at the Convalescent Living 
                Center, CLC and the Behavioral Health Center at the South Texas Veterans Healthcare 
                System.  </li>
              <li class="list-group-item">Served as Christmas Elf for multiple years.</li>
          <br>
        </div>
      </div>
    </div>
  <!---End of the Experience tab-->
  
  <%- include('layouts/footer.ejs')%>