<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayleigh's World</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--Personal CSS-->
    <link rel="stylesheet" type="text/css" href="../Public/css/style.css">
</head>
<body>
  <!--Start of Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <b><i><a class="navbar-brand" >Kaylay</a></b></i>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="./index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Achievements.html">Achievements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Education.html">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Experience.html">Experience</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-align:right;">
                  Socials
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item active" href="./Contact.html">Contact</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <!--End of Navbar-->

      <!---Start of title-->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">EXPERIENCE</h1>
      </div>
    </div>
  </div>
  <!---End of title-->

  <!---Start of the Experience tab-->
       <div class="container text-center expborder">
      <div class="row align-items-start">
        <div class="col">
         <h3>Job(s)</h3> 
         <h4>Chick-Fil-A Team Member: July 2021-present</h4>
         <ul class="list-group">
          <li class="list-group-item">IPOS:Take orders in the drive-thru.</li>
          <li class="list-group-item">Expo: Take orders out to the cars in drive-thru.</li>
          <li class="list-group-item">Mobile Runner: Take orders out to the cars in curbside.</li>
          <li class="list-group-item">Drinks: Make curbside/delivery drinks for mobiles, make the drinks
            for drive-thru.</li>
          <li class="list-group-item">Front Counter: Take orders in the inside and make their drinks.</li>
          <li class="list-group-item">Lobby: Clean the lobby, wipe down the tables, chairs and sweep.</li>
          <li class="list-group-item">Window/Saucing: Making sure the orders correct and adding in the
            sauces the guest wants before passing the order out to expo/mobile runners.</li>
          <li class="list-group-item">Bagging: Putting the food in the bag(s).</li>
          <li class="list-group-item">Else: Sometimes I cover breaks/make containers of lemonade.</li>
          <br>
          <h4>Dance Instructor for Little Warrior's Camp: June 2018</h4>
          <ul class="list-group">
            <li class="list-group-item">Prepared the kids for a dance performance to their families
               by the end of the week.</li>
            <li class="list-group-item">Cleaned tables.</li>
            <li class="list-group-item">Swept.</li>
            <li class="list-group-item">Suggested games.</li>
            <li class="list-group-item">Helped the other team leaders in their classrooms.</li>
            <li class="list-group-item">Prepared and served food.</li>
        <br>
        </ul>
        </div>
        <div class="col">
          <h3>Volunteer</h3>
          <h4>San Antonio Council on Alcohol and Drug Awareness: 2015-Present</h4> 
          <ul class="list-group">
            <li class="list-group-item">Created community surveys in Survey Monkey.</li> 
            <li class="list-group-item">Entered student data into official records.</li>
            <li class="list-group-item">Created and presented PowerPoint presentations on substance use for adult audiences.</li>
            <br>
            <h4>Helping Youth through Prevention Education: 2015-2018</h4>
            <ul class="list-group">
              <li class="list-group-item">Danced at local schools and out in the community.</li>
              <li class="list-group-item">Conducted skits and quiz games.</li>
              <li class="list-group-item">Suggested games.</li>
              <li class="list-group-item">Gave out information on how drugs and alcohol affect your body.</li>
          <br>
        </div>
        <div class="col">
          <h3>Organizations Affiliated</h3> 
          <h4>Circles of San Antonio Community Coalition: 2015-Present</h4>
          <ul class="list-group">
            <li class="list-group-item">Focus is on youth underage drinking and substance misuse.</li>
            <li class="list-group-item">Participated in community events such as DEA Prescription Drug Take Back.</li>
            <li class="list-group-item">part of video for Social Host Ordinance passed in the city of San Antonio. </li>
            <li class="list-group-item">Spoke before City Council to help pass the Social Host Ordinance and the Tobacco 21 Ordinance.</li>
            <br>
            <h4>Disabled American Veterans Auxiliary: 2014-Present</h4>
            <ul class="list-group">
              <li class="list-group-item">Support and assist Veterans with disabilities.</li>
              <li class="list-group-item">Participated in events such as the Forget Me Not fund raiser 
                and Golden Corral fund raiser.</li>
              <li class="list-group-item">Conducted activities such as Bingo at the Convalescent Living 
                Center, CLC and the Behavioral Health Center at the South Texas Veterans Healthcare 
                System.  </li>
              <li class="list-group-item">Served as Christmas Elf for multiple years.</li>
          <br>
        </div>
      </div>
    </div>
  <!---End of the Experience tab-->

  <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>