body{
    background-color: black;
}
h1, h2, h3, h5, hr, p{
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: medium;
}
hr{
    height: 10px;
    background-color: transparent;
    border: 0 none;
}
.expborder{
    border: solid;
    border-color: grey;
}
h4{
    color: aqua;
    font-size: medium;
}
.card{
    background-color: grey;
    margin: 10px;
}
.card-img-top{
    border-radius: 10%;
}
label{
    color: white;
}